<!DOCTYPE html>
<html lang="en">
<head>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

    </style>
</head>
<body>
<h2>Register</h2>

<table>
    <tr>
        <th>USN</th>
        <th>NAME</th>
        <th>CITY</th>
    </tr>
    <tr>
        <td>{{usn0}}</td>
        <td>{{name0}}</td>
        <td>{{city0}}</td>
    </tr>
    <tr>
        <td>{{usn1}}</td>
        <td>{{name1}}</td>
        <td>{{city1}}</td>
    </tr>
</table>
<p>
    NAME={{name}}
</p>
</body>
</html>